.screen {
    z-index:50000;
    position: absolute;
    left: 0px;
    top: 0px;
    /*width: 100%;*/
    /*height: 100%;*/
    margin: 0px;
    /*background: rgba(0, 0, 0, 0.5);*/
    cursor: crosshair;
}

.popUp {
    z-index: 50001;
    position: absolute;
    background: white;
    border: 10px solid rgba(0, 0, 0, 0.60);
    
    border-radius: 3px;
    padding-top: 10px;
}


#imageHolder {
    margin-left: auto;
    margin-top: 10px;
    margin-right: auto;
    margin-bottom: auto;
    overflow: scroll;
    vertical-align: middle;
    /*border: 1px solid grey;*/
    /*border-radius: 2px;*/
}

#imageHolder::-webkit-scrollbar {
    background-color: transparent;
    width: 6px;
}

#imageHolder:hover::-webkit-scrollbar-thumb {
    opacity: 1;
}

#imageHolder::-webkit-scrollbar-thumb {
    opacity: 0;
    background: rgba(0, 0, 0, 0.10);
    border-radius: 3px;
}

#toolbox {
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: auto;
    border-radius: 3px;
    background-color: rgba(0, 0, 0, 0.1);
    padding-top: 15px;
}

#loader {
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: auto;
    border-radius: 3px;
    background-color: rgba(0, 0, 0, 0.1);
    padding-top: 15px;
}

#loader div {
    margin-left: auto;
    margin-right: auto;
}

#toolbox div {
    margin-left: auto;
    margin-right: auto;
}

#toolbox textarea {
    font-family: Arial, Sans-Serif;
    width: 98%;
    padding: 4px;
    border: solid 1px;
}


#facebook-login {
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: auto;
    border: 1px solid;
}

.hidden {
    display: none;
}
